body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, rgb(52, 227, 55), rgb(88, 53, 213));
}
h1{
    margin: 4vh;
    color: rgb(18, 3, 52);
}
.task{
    height: 15vh;
    padding: 10vh;
    input[type=text]{
        background-color: azure;
        border-radius: 1vh;
        &:hover{
            width: 200px;
            
            transition: width 0.6s;
        }
    }
    #submit{
        background-color: #26adb4;
        border-radius: 1vh;
        &:hover{
            background-color: darken($color: rgb(46, 187, 58), $amount: 0);
        }
    }
}
.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2vw;
        border-bottom: 1px solid purple;
        width: 80%;
        
        
        h3 {
            color: rgb(228, 225, 236);
            margin: 0;
            font-size: 18px;
            text-emphasis: 20px;
        }

        // Delete button styling
        button {
            background-color: #8e4509; // Red
            color: wheat;
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken(#f44336, 10%);
            }
        }
    }
}
